{% extends 'base.html' %}

{% block title %}Delete Room{% endblock %}

{% block content %}
<br>
    <div class="container py-4 boxColor boxShadow">
    <h1>Delete room</h1>
        <form action="deleteRoomRecord/{{ room.id }}" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete <b>Room {{room.roomName}}?</b></p>
            <p>(Users who have made bookings of deleted rooms will be notified)</p>
        <input type="submit" value="Submit">
    </form>
    </div>
{% endblock %}