{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
    a {
        text-decoration:none;
        color:var(--grey)
    }
    .container {
        border-radius:5px;
    }

    .boxHeaderFont {
        font-size:22px;
    }

    .boxColor {
        background-color:var(--paleBlue);
    }
    button {
        background-color:var(--palePink);
        border:2px solid var(--grey);
        border-radius:5px;
        width:100%;
    
    }
    button a {
        display:block;
        width:100%;
    }
    .button {
        background-color:var(--palePink);
        border:2px solid var(--grey);
        border-radius:5px;
        width:100%;
    }
    button a {
        color:var(--grey);
    }
    .headerNumbers {
        font-size:50px;
        font-weight:bold;
    }
    .headerText {
        font-weight:bold;
    }

</style>
<div class="container">
    <br>
    <p><b>Welcome, {{ user.username }} </b></p>

    {% if user.is_staff %}
        <div class="container py-2 boxColor">
            <p class="boxHeaderFont"><b class="boxHeaderFont">Admin dashboard</b></p>
            <p> Allows admins to create new accounts, manage rooms and view availability. </p>
        </div>

        <div class="container" style="text-align:center">
            <div class="row pt-4 headerNumbers">  
                <div class="col boxColor py-2">
                    0
                </div>
                <div class="col boxColor py-2">
                    0
                </div>
                <div class="col boxColor py-2">
                    0
                </div>
          </div>

          <div class="row headerText">  
            <!-- ACCOUNT HANDLING -->
            <div class="col boxColor py-2">
                Bookings made
                <!-- {% for user in users %}
                    <p> {{user.username}}</p>
                {% endfor %} -->
            </div>
                
            <!-- ROOM HANDLING -->
            <div class="col boxColor py-2">
                Meetings happening now
                
            </div>
            <div class="col boxColor py-2">
                Rooms available now
                

            </div>

      </div>
        </div>

        <div class="container">
            <div class="row py-4">  
                <!-- ACCOUNT HANDLING -->
                <div class="col boxColor py-2">
                    <button><a href="{% url 'signup' %}">Create staff/admin account</a></button>
                    <!-- {% for user in users %}
                        <p> {{user.username}}</p>
                    {% endfor %} -->
                </div>
                
                <!-- ROOM HANDLING -->
                <div class="col boxColor py-2">
                    <button><a href="{% url 'createRoom' %}">Create room </a></button>
    
                </div>
          </div>
        </div>

          <!-- ROOM AVAILABILITY -->
            <div class="container px-4 boxColor">
                <div class="row py-2">
                    <button><a href="#">Change room appointments</a></button>
                </div>
                
            </div>

        
        <!-- <ul>
            <li><a href="{% url 'signup' %}">Create staff/admin account</a></li>
            <li><a href="{% url 'createRoom' %}">Modify room record</a></li>
            <li><a href="{% url 'deleteRoom' %}">Delete room record</a></li>
            <li><a href="#">View room availability</a></li>
        </ul> -->
        
        
    {% else %}
        <p><b>Staff dashboard</b></p>
    {% endif %}

    <br>
    <a href="{% url 'logout' %}" style="background-color:var(--palePink); padding:5px; border:2px solid var(--grey); border-radius:5px;">Log Out</a>

        
    </div>
    
    
    
        
    </div>


{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>

</div>
{% endif %}
{% endblock %}