{% extends 'base.html' %}

{% block title %}Manage rooms{% endblock %}

{% block content %}
<br>
<div class="container py-4 boxColor boxShadow">
    <h1>Manage rooms</h1>
    <button><a href="{% url 'createRoom' %}">Create room </a></button>
    <table class="dataTable">
        <tr style="font-weight:bold">
            <th>Room name</th>
            <th>Capacity</th>
            <th>Modify</th>
            <th>Delete</th>
            <th>Booking history </th>
        </tr>
        {% for room in rooms %}
            <tr>
                <td>{{room.roomName}}</td>
                <td>{{room.capacity}}</td>
                <td><a href="roomManagement/modify/{{room.id}}"><i class="bi bi-pencil"></i></a></td>
                <td><a href="roomManagement/deleteRoom/{{room.id}}"><i class="bi bi-x-octagon" style='color:red'></i></a></td>
                <td><a href=""><i class="bi bi-book" style="color:brown"></i></a></td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}